{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="container-fluid align-items-center">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Számlázási címek</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Rendelés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Rendelések</a>
        </li>
</ul>
</div>
{% endblock %}
