<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        

        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            {{ encore_entry_script_tags('app') }}
            <script type="text/javascript">
                $(document).on("ready",function(){

                    $('#addresses_type').on('change',function(){
                        var choice = $(this).val();
                        if(choice < 2) {
                            $('#addresses_taxnum').removeAttr('required');
                            if($('#addresses_taxnum').is(':visible')) {
                                $('#addresses_taxnum').hide();
                            }
                        } else {
                            $('#addresses_taxnum').attr('required','required');
                            if($('#addresses_taxnum').is(':hidden')) {
                                $('#addresses_taxnum').show();
                            }
                        }
                    });

                    $('.delete-row').click(function(){
                        //if (!$('#dataConfirmModal').length) {
                            $('body').append('<div id="dataConfirmModal" class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="dataConfirmLabel">Please Confirm</h3></div><div class="modal-body"></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button><a class="btn btn-primary" id="dataConfirmOK">OK</a></div></div>');
                        //}

                        return false;
                    });

                });
                </script>
        {% endblock %}
    </head>
    <body class="px-5">
        {% block body %}{% endblock %}
    </body>
</html>
