<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        

        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
            <script type="text/javascript">
                $(document).on("ready",function(){

                    $('#addresses_type').on('change',function(){
                        var choice = $(this).val();
                        if(choice < 2) {
                            $('#addresses_taxnum').removeAttr('required');
                            if($('#addresses_taxnum').is(':visible')) {
                                $('#addresses_taxnum').hide();
                            }
                        } else {
                            $('#addresses_taxnum').attr('required','required');
                            if($('#addresses_taxnum').is(':hidden')) {
                                $('#addresses_taxnum').show();
                            }
                        }
                    });

                    $('.delete-row').on('click',function(){
                        if(confirm('Valóban törli?') !== true) {
                            return false;
                        }
                    });

                });
                </script>
        {% endblock %}
    </head>
    <body class="px-5">
        {% block body %}{% endblock %}
    </body>
</html>
