<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        

        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
            <script type="text/javascript">
                $(document).on("ready",function(){

                    $('#addresses_type').on('change',function(){
                        var choice = $(this).val();
                        if(choice < 2) {
                            $('#addresses_taxnum').removeAttr('required');
                            if($('#addresses_taxnum').is(':visible')) {
                                $('#addresses_taxnum').hide();
                            }
                        } else {
                            $('#addresses_taxnum').attr('required','required');
                            if($('#addresses_taxnum').is(':hidden')) {
                                $('#addresses_taxnum').show();
                            }
                        }
                    });

                    $('.delete-row').on('click',function(){
                        if(confirm('Valóban törli?') !== true) {
                            return false;
                        }
                    });

                    $('#orders_netto').val(20000);
                    $('#orders_tax').val(2000);
                    $('#orders_brutto').val(22000);

                    $('select[name=address]').on('change',function(){
                        
                        var token = $('#orders__token').val();

                        if($(this).val() < 0 ) {

                            console.log(token);

                            $('.newOrderForm').removeClass('d-none');
                            $('input[name=address_id]').val(null);
                            $('form[name=orders]').find("input,select,textarea").val("");
                            $('#orders_type').val("0").change();
                            $('#orders_country').val("Magyar").change();
                            $('#orders_netto').val(20000);
                            $('#orders_tax').val(2000);
                            $('#orders_brutto').val(22000);
                            $('#orders__token').val(token);
                        } else {
                            $('.newOrderForm').addClass('d-none');
                            $('input[name=address_id]').val($(this).val());
                            getAddress($(this).val());
                        }

                    });

                });

                function getAddress(id) {
                    $.ajax({
                        'url' : 'order/ajax/'+id,
                        'type': 'GET',
                        'dataType' : 'json',
                        'async' : true,
                        success: function(data,status) {
                            console.log(data);
                            console.log(status);
                            $("#orders_type").val(data.type+1).change();
                            $("#orders_name").val(data.name);
                            $("#orders_phone").val(data.phone);
                            $("#orders_taxnum").val(data.taxnum);
                            $("#orders_country").val(data.country);
                            $("#orders_postcode").val(data.postcode);
                            $("#orders_city").val(data.city);
                            $("#orders_street").val(data.street);
                        }
                    });
                }
                </script>
        {% endblock %}
    </head>
    <body class="px-5">
        {% block body %}{% endblock %}
    </body>
</html>
